.jetpack-search-filters-widget__sub-heading {
	font-size: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	padding: 0;
}

/* The heading that is a sibling of the search form and is also the first heading */
.jetpack-search-form ~ .jetpack-search-filters-widget__sub-heading:first-of-type {
	margin-top: 1.5em;
}
